body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	margin: 0 !important;
    padding: 0 !important;
	background-image: url("bodybackground.jpg");
	/* box-shadow: 0 0 8px 8px #B1C1D4 inset; */
	/* background-repeat: no-repeat; */
	border-image-repeat: stretch;
}

/*Nav bar design*/

#logo{
	padding-left: 0.5rem;
	width: 3.5rem;
	height: 4rem;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#menu{
	position: fixed;
	width: 100%;
	margin-top: 0;
	background-color: #06729D;
	opacity: 1;
	box-shadow: 1px 1px 100px 0, -15px -15px 50px 0;
	z-index: 1;
}

ul{
	margin: 0;
	padding: 0;
	display: flex;
}

li{
	list-style-type: none;
	padding: 0.85rem;
	font-size: large;
}

a{
	text-decoration: none;
	color: #B1C1D4;
	padding: 0.85rem;
	font-weight: bold;
}

a:hover{
	color: white;
}


/*Content*/

.section{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	margin-top: 3rem;
	width: 60%;	
	background-color: white;
	border-radius: 25px;
	opacity: 0.75;
	align-items: center;
	text-align: center;
}

.header{
	font-weight: bold;
	font-size: large;
	color: #06729D;
}

.writing{
	text-align: left;
	margin-left: 2rem;
	margin-bottom: 2rem;
	color: #06729D;
}

#answers {
	text-align: right !important;
	margin-right: 2rem;
}

.imgs{
	display: flex;
	margin-top: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
	width: 60%;	
	border-radius: 25px;
	align-items: center;
	text-align: center;
}

img{
	height: 31%;
	width: 31%;
	margin-left: 1rem;
	margin-top: 1rem;
}

.field{
	padding-top: 1rem;
}

.textarea{
	width: 25rem !important;
	height: 7rem;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: left !important;
}

.button{
	padding: 0.5rem;
	margin: 1rem;
}

.button:hover{
	color: #B1C1D4;
}

#subject{
	width: 25rem;
	height: 1.5rem;
}

#one {
	height: 23% !important;
	width: 23% !important;
}

#two, #three{
	transform: scaleY(-1);
}

#six {
	height: 40% !important;
	width: 40% !important;
}

#twelve{
	height: 20% !important;
	width: 20% !important;
}

#about{
	margin-top: 8rem !important;
}

#contact{
	margin-bottom: 5rem !important;
}

#video, #like_container{
	padding-bottom: 3rem !important;
}
  